/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-bottom: 100px;
}

.bg-none{
    background-color: white;
}

button{
    border: 1px solid #cf132c;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
    background-color: grey;
}

/* header */
header{
    background-color: #006c67;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}



/* main */

/* price ticket block */
.ticket_price_km{
    text-align: center;
    font-size: 25px;
    margin: 5px 0;
}
.info{
    border: 1px solid #cf132c;
    height: 100%;
    margin: 0 100px;
    border-radius: 20px;
}

.info-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h4 {
    margin: 20px 0;
}

.block > input, select{
    border: 1px solid #cf132c;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.button-row{
    margin-left: 60px;
}

/* your ticket block */
.your_ticket{
    font-size: 25px;
    margin: 5px 0;
}

#boxOutput{
    display: none;
}

.your_ticket > h2{
    text-align: center;
}

.ticket{
    border: 1px solid #cf132c;
    height: 100%;
    margin: 0 100px;
    border-radius: 20px;
    padding: 20px;
}

.ticket > h3{
    font-size: 22px;
    margin-left: 11px;
}

.ticket-block{
    line-height: 30px;
    display: flex;
    width: 100%;
}

.left-side{
    background-color: grey;
    padding: 50px 50px;
    width: 30%;
    line-height: 60px;
    font-size: 20px;
    border-radius: 20px 0 0 20px;
    /* DEBUG */
    border: 1px solid black;
}

.right-side{
    flex-grow: 1;
    font-size: 15px;
    line-height: 60px;
    border-radius: 0 20px 20px 0;
    /* DEBUG */
    border: 1px solid black;
}

.right-block{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 10px;
}

.right-block ul{
    list-style: none;
}

#price{
    color: #cf132c;
    font-size: 25px;
}

/* footer */
footer{
    background-color: #cf132c;
    text-align: center;
    height: 100%;
    padding: 26px;
}

footer img{
    width: 150px;
    height: 150px;
    border: 2px solid #006c67;
    border-radius: 50%;
}
